* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #231231;
}

#container {
    text-align: center;
    max-width: 40rem;
    margin: 1.2rem auto;
}

#option {
    height: 2rem;
    color: white;
    text-align: center;
    background-color: whitesmoke;
}

h1 {
    text-align: center;
    background-color: rgb(51, 148, 204);
    font-size: 3rem;
    font-weight: bolder;
    text-transform: uppercase;
    color: whitesmoke;
}

.switch {
    background-color: rgb(51, 148, 204);
    color: whitesmoke;
}

button {
    height: 100%;
    border: 0px;
    font-size: inherit;
    font-family: 'Roboto', sans-serif;
    background: none;
    color: rgb(51, 148, 204);
    outline: none;
    font-weight: bolder;
    letter-spacing: 0.2rem;
}

button:hover {
    background-color: rgb(51, 148, 204);
    color: whitesmoke;
    transition: all 0.5s;
}

#rgb {
    font-size: 200%;
}

#display {
    display: inline-block;
    width: 20%;
    color: steelblue;
    font-size: inherit;
    font-family: inherit;
}

.square {
    width: 30%;
    padding-bottom: 30%;
    border-radius: 10%;
    background-color: violet;
    float: left;
    margin: 1.6%;
    transition: all 0.5s;
}